# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist/
build/

# TypeScript
*.tsbuildinfo

# Ambiente
.env

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operacional
.DS_Store
Thumbs.db

# Frontend
/front/node_modules/
/front/build/
/front/dist/
/front/.env

# Backend
/back/node_modules/
/back/dist/
/back/.env