.bg14 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/src/public/14.jpg') no-repeat center center fixed, rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
}