body {
  color: white;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding-top: 20vh;
}

.container-fluid {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  width: 50% !important;
  border-radius: 10px;
  position: relative !important;
}

.container-nav {
  color: white !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  position: relative !important;
  margin: 1vh 5vh 1vh 5vh;
}

.bg_navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}

h2 {
  text-align: center !important;
}

h4 {
  text-align: center !important;
}

.fundo-escuro {
  background-color: rgba(0, 0, 0, 0.623) !important;
  padding: 2vh 2vh 2vh 2vh !important;
  margin-bottom: 4vh !important;
}

.list-group {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 10px;
}

.list-group-item {
  color: white !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

input {
  color: white !important;
  background-color: transparent !important;
}

input::placeholder, select::placeholder {
  color: white !important;
}

select {
  color: white !important;
  background-color: transparent !important;
}

select option {
  color: white !important;
  background-color: black !important;
}

.navbar {
  margin-bottom: 5vh !important;
  width: 100% !important;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0) !important;
  border: 0vh solid rgba(255, 255, 255, 0) !important;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.nav-link {
  text-align: center !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-decoration: none;
}

.editar {
  width: 3vh;
}

.lixeira {
  margin-left: 2.5vh;
  width: 3vh;
}

.logo {
  width: 25vh;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.welcome {
  color: white;
  margin-top: 35vh;
}

.welcome h4 {
  font-weight: 100;
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  font-size: 7vh;
}

.hr-no-margin {
  margin: 0;
}

@media (max-width: 800px) {
  .container-fluid {
    width: 85% !important;
  }
}